.showCard {
  height: 500px;
  width: 240px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 4px 4px 20px rgba($color: #000000, $alpha: 0.6);
  position: relative;
  border: 1px solid #1e1e1e;
  border-radius: 10px;
  transition: ease-out 0.2s;
  align-items: center;
  background-color: #101010;
  img {
    width: 100%;
    height: 340px;
    object-fit: cover;
  }
  &:hover {
    transform: scale(1.02);
  }
  .desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #f1f2f3;
    padding: 5px;
    .rate {
      display: flex;
      align-items: center;
      gap: 5px;
      width: 100px;
      margin: auto;
      .showRating {
        display: none;
      }
      &:hover .showRating {
        display: inline;
      }
    }
    h3 {
    }
    p {
      color: #bababa;
      font-size: 14px;
    }
  }
}
